form(action="/people/" + user.login, method="post", id= 'edit_user_' + user.login)
  input(type="hidden", name="_method", value = "patch")
  label(for="user[lastname]") Nom
  input(name="user[lastname]", value=user.lastname, type="text")
  label(for="user[firstname]") Prénom
  input(name="user[firstname]", value=user.firstname, type="text")
  input(type="submit", value="Appliquer les modifications")


