p
  b Lastname: 
  = user.lastname 
p
  b Firstname: 
  = user.firstname

p
  b Login: 
  = user.login

p
  b groups: 
  = user.groups.map(function(group){return group.name}).join(', ')

a(href= '/people/' + user.login + '/edit') Édition
